{% extends "layout.html" %}


{% block body %}
<h3>About</h3>
<p>
 
I loved playing video games when I was a kid, which led me to study computer engineering specializing in software engineering for my Bachelor’s degree. During this degree, I had the opportunity to work on multiple projects, which helped me improve my problem-solving skills and understanding the necessity of coding. I enjoy coding and it makes me feel very productive; I am a quick learner, team player with strong communication skills and I am keen on learning new technologies. I recently took the Software Engineering Immersive course at General Assembly as I wanted to develop my coding skills further.
</p>
{% endblock body %}